@using BibliotecaESFE.EN
@model BibliotecaESFE.EN.Reservas

@{
    ViewData["Title"] = "Crear";
    List<Usuarios> usuarios = ViewBag.Usuarios as List<Usuarios>;
    List<Libros> libros = ViewBag.Libros as List<Libros>;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 50px;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 28px;
        }

        form {
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        select, input[type="datetime-local"] {
            border-radius: 5px;
            border: 1px solid #ced4da;
            padding: 10px;
            width: 100%;
            transition: border-color 0.2s;
        }

            select:focus, input[type="datetime-local"]:focus {
                outline: none;
                border-color: #007bff;
            }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s;
        }

            input[type="submit"]:hover {
                background-color: #0056b3;
            }

        .back-link {
            margin-top: 20px;
            display: block;
            text-align: center;
            font-size: 16px;
        }

            .back-link a {
                color: #007bff;
                text-decoration: none;
                transition: color 0.2s;
            }

                .back-link a:hover {
                    color: #0056b3;
                }
    </style>
</head>
<body>
    <div class="container">
        <h1>Crear Reservas</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Usuarios</label>
                <select asp-for="UsuarioId" class="form-control">
                    <option value="0">SELECCIONAR</option>
                    @foreach (var item in usuarios)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Libros</label>
                <select asp-for="LibroId" class="form-control">
                    <option value="0">SELECCIONAR</option>
                    @foreach (var item in libros)
                    {
                        <option value="@item.Id">@item.Titulo</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de Reserva</label>
                <input type="datetime-local" class="form-control" name="FechaReserva" />
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
            </div>
        </form>
        <div class="back-link">
            <a asp-action="Index">Regresar a la lista</a>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
