<link rel="stylesheet" href="~/css/reservas2.css" />
@using BibliotecaESFE.EN
@model IEnumerable<BibliotecaESFE.EN.Reservas>

@{
    ViewData["Title"] = "Index";
    int numPage = 1;
    int numRegistros = 0;
    int numRegistrosPorPage = 10;
    int[] tops = { 10, 20, 50, 100, 500, 1000, 10000, -1 };
    List<Usuarios> usuarios = ViewBag.Usuarios as List<Usuarios>;
    List<Libros> Libros = ViewBag.Libros as List<Libros>;
}

<h1>Realiza la solicitud de reserva.</h1>


<div class="row">
    <div class="col-md-12">
        <form asp-action="Index">

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Usuario</label>
                        <select name="UsuarioId" class="form-control">
                            <option selected value="0">SELECCIONAR</option>
                            @foreach (var item in usuarios)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group m-2">
                <input type="submit" value="Buscar" class="btn btn-outline-info" />
                <a asp-action="Create" class="btn btn-outline-primary">Nuevo Reserva</a>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Usuarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Usuarios.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Libros.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReserva)
                </td>

                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-outline-secondary" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
            numRegistros++;
            if (numRegistros == numRegistrosPorPage)
            {
                numPage++;
                numRegistros = 0;
            }
        }
        @{
            if (numRegistros == 0)
            {
                numPage--;
            }
        }
        
    </tbody>
</table>
@if (numPage > 1)
{
    <div class="row" style="overflow:auto">
        <div class="col-md-12">
            <ul class="pagination paginationjs" data-numpage="@numPage" data-pageactive="1">
                <li class="page-item" data-typepage="Previous"><a class="page-link" href="#">Previous</a></li>
                @for (var i = 1; i <= numPage; i++)
                {
                    <li class="page-item" data-page="@i" data-typepage="Item"><a class="page-link" href="#">@i</a></li>
                }
                <li class="page-item" data-typepage="Next"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
}
