@using BibliotecaESFE.EN
@model IEnumerable<BibliotecaESFE.EN.Reservas>

@{
    ViewData["Title"] = "Index";
    int numPage = 1;
    int numRegistros = 0;
    int numRegistrosPorPage = 10;
    int[] tops = { 10, 20, 50, 100, 500, 1000, 10000, -1 };
    int topActual = Convert.ToInt32(ViewBag.Top);
    List<Usuarios> usuarios = ViewBag.Usuarios as List<Usuarios>;
    List<Libros> libros = ViewBag.Libros as List<Libros>;
   
}

<h1>Listado de reserva</h1>




<div class="row">
    <div class="col-md-12">
        <form asp-action="Index">
       
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Usuarios</label>
                        <select name="UsuarioId" class="form-control">
                            <option selected value="0">SELECCIONAR</option>
                            @foreach (var item in usuarios)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Libros</label>
                        <select name="LibroId" class="form-control">
                            <option selected value="0">SELECCIONAR</option>
                            @foreach (var item in libros)
                            {
                                <option value="@item.Id">@item.Titulo</option>
                            }
                        </select>
                    </div>
                </div>

                
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Fecha y Hora de Reserva</label>
                        <input type="datetime-local" class="form-control" name="FechaReserva" />
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Top</label>
                        <select name="top_aux" class="form-control">
                            @foreach (var item in tops)
                            {
                                string strItem = item != -1 ? item.ToString() : "Todos";
                                if (item != topActual)
                                {
                                    <option value="@item">@strItem</option>
                                }
                                else
                                {
                                    <option selected value="@item">@strItem</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group m-2">
                <input type="submit" value="Buscar" class="btn btn-outline-info" />
                <a asp-action="Create" class="btn btn-outline-primary">Nuevo libro</a>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
   
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
         
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LibroId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReserva)
                </td>

                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-outline-secondary" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
