@model BibliotecaESFE.EN.Libros

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar libro</h1>

<h3>¿Esta seguro que desea eliminar este libro?</h3>
<div>
    <h4>Libros</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autores.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editoriales)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editoriales.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categorias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categorias.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-asp-for="Id" />
        <input type="submit" value="Elminar" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
    <span class="text-danger">@ViewBag.Error</span>
</div>
